html , body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    background: pink;
    margin: 0;
    text-align: center;
    padding: 15px;
}

h3{
    margin: 15px;
}

/* NAV */
nav {
    background: purple;
    height: 15vh;
}

/* MAIN */
main {
    /* height: 80vh; */
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% 90%;
    gap: 30px;
}

/* div PRODUCTS */
div#products {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
}

div#products div.watches {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 1em;
    opacity: 90%;
    width: 25%;
    margin: 2em 1em;
    transition: 1s;
}

div#products div.watches:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px white;
    scale: 103%;
}

/* div#products div.watches:hover img {
    filter: blur(1px);
} */

div#products div.watches img {
    transition: 1s;
}

div#products div.watches img {
    width: 70%;
}

div#products div.watches div {
    position: absolute;
    width: 100%;
    top: 30%;
}

div#products div.watches div p {
    visibility: hidden;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}

/* div#products div.watches:hover div p{
    visibility: visible;
} */

/* div CART */
div#cart {
    display: flex;
    flex-direction: column;
    background: red;
}

/* FOOTER */
body > footer {
    background: yellow;
}

#cart footer, #cart header{
    background: blue;
    margin: 0 10px ;
}

#cart header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cart div{
    background: rgb(1, 255, 77);
    margin: 0 10px;
    height: 100%;
}

#cart footer{
    margin-bottom: 10px;
    padding: 10px;
}
