html , body {
    margin: 0;
    padding: 0;
    background-image: url(images/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}

h1 {
    /*font-family: 'Great Vibes', cursive;*/
    font-family: 'Amatic SC', cursive;
    margin : 20px 0 0 20px;
    color: white;
    font-size: 3.5em;

}

h2 {
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    background-color: rgb(208, 208, 211);
    margin: 0;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

h3{
    font-family: 'Nunito', sans-serif;
    margin: 15px;
}

h5{
    font-family: 'Amatic SC', cursive;
    margin: 0 0 0 65px;
    color: white;
}

/* NAV */
nav {
    height: 15vh;
    /*background-image: url(images/banner_watch_shop2.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

/* MAIN */
main {
    height: 80vh;
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% 80%;
    gap: 30px;
}

/* div PRODUCTS */
div#products {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
}

div#products div.watches {
    background: rgba(255, 255, 255, 0.349);
    
    border-radius: 10px;
    width: 25%;
    margin: 2em 1em;
}

/* div CART */
div#cart {
    display: flex;
    flex-direction: column;
    background: rgb(71, 70, 70);
}

/* FOOTER */
body > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 35px;
  }

  .logo {
    height: 20px;
    margin: 5px 12px;
  }


#cart footer, #cart header{
    background: rgb(107, 107, 109);
    margin: 0 10px ;
}

#cart header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cart div{
    background: rgb(232, 235, 233);
    margin: 0 10px;
    height: 100%;
}

#cart footer{
    margin-bottom: 10px;
    padding: 10px;
}
