html , body {
    margin: 0;
    padding: 0;
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bolder;
}

h2 {
    box-shadow: 0 0 10px rgb(129, 129, 129);
    font-family: 'Nunito', sans-serif;
    opacity: 60%;
    margin: 0;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

h3{
    font-family: 'Nunito', sans-serif;
    margin: 15px;
}

/* NAV */
nav {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > div:first-child, nav > div:last-child {
    flex: 1;
}

h1,h5 {
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

h1{
    font-size: 6em;
    margin: 5px 0 0 0;
}

h5{
    font-size: 1.3em;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

/**********Search Bar***********/
input#searchBar {
    margin: 1em;
    width: 0;
    visibility: hidden;
    transition: width 0.4s ease-out,
    visibility 0.39s ease-out;
}

input#searchBar.active {
    width: 150px;
    visibility: visible;
    transition: width 0.4s ease-out,
    visibility 0.4s ease-out;
}
/********************************/

a:hover {
    text-shadow: 0 0 4px white;
}

#nav_logo{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5em;
}

#cart_logo{
    height: 25px;
    margin: 0 0 10px 12px;
}

#number_of_item_in_cart{
    margin: 0 0 15px 0;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(252, 250, 250);
    border-radius: 50%;
    padding: 2px 6px;
}

/* MAIN */
main {
    /* height: 80vh; */
    width: 80%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 7vh 60vh;
    gap: 30px;
}

/* div PRODUCTS */
div#products {
    backdrop-filter: blur(3px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
}

div#products div.watches {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background:rgba(0, 0, 0, 0.2);
    opacity: 90%;
    width: 25%;
    margin: 1em 1em;
    padding: 1em;
    transition: 0.4s;
    color: white;
    text-shadow: 1px 1px 4px black;
}

div#products div.watches:hover {
    box-shadow: 0 0 10px rgba(128, 128, 128);
}

div#products div.watches img {
    width: 40%;
    transition: 0.4s;
    padding: 1em;
}

div#products div.watches div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 30%;
}

div#products div.watches div *{
    height: fit-content;
}

div#products div.watches a {
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

div#products div.watches div p {
    width: 30%;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

div#products div.watches div button {
    border: 2px solid white;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1em;
}

div#products div.watches div button:hover {
    text-shadow: 0 0 4px white;
    box-shadow: 0 0 4px white;
}

/* FOOTER */
body > footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 14em;
  }

  .logo {
    height: 25px;
    margin: 5px 12px;
  }

/*********************************************************/
/********************* TYPICAL WATCH *********************/
/*********************************************************/

.mainDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    margin: 5em auto;
    padding: 1em;
    background:rgba(0, 0, 0, 0.2);
    opacity: 90%;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.mainDiv h3 {
    font-size: 1.5em;
}

.mainDiv div {
    width: 50%;
    padding-left: 2em;
}

.mainDiv #currentPhoto img {
    width: 100%;
    cursor: pointer;
}

.mainDiv #currentPhoto {
    width: 20%;
}

.mainDiv button {
    border: 2px solid white;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
    justify-self: flex-end;
    font-size: 1em;
}

.mainDiv button:hover {
    text-shadow: 0 0 4px white;
    box-shadow: 0 0 4px white;
}

.mainDiv .watchesPhotos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 5%;
    padding: 0 1em;
}

.mainDiv .watchesPhotos img {
    width: 100%;
    margin: 1em 0;
    cursor: pointer;
    transition: 0.4s;
}

.mainDiv .watchesPhotos img:hover {
    scale: 1.1;
}

/* MODAL CONTAINER */

div.containerModal {
    visibility: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    transition: visibility 0.4s;
}

div.containerModal.active {
    visibility: visible;
}

div.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.2s 0.2s ease-out;
}

div.containerModal.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

div.modal {
    opacity: 0;
    position: absolute;
    width: fit-content;
    top: 45%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

div.modal img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}

div.containerModal.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

/***********/
/****CART***/
/***********/
div#cart {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 500px;
  background: rgb(255, 255, 255, 0.9);
  color: white;
  text-shadow: 1px 1px 4px black;
  box-shadow: 0 0 4px rgba(128, 128, 128);
}

.cart_container{
  display: none;  
}

#cart footer,
#cart header {
    background: rgba(207, 189, 189, 0.767);
}

#cart .payement img {
    width: 10%;
}

#cart header {
    display: flex;
    align-items: center;
    font-size: 20px;
    border-top: 2px solid black;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
    text-align: center;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}

#cart header span {
    padding: 0 1em;
}

#cart .grande ul li>p{
    margin: 0;
    width: fit-content;
}

#cart ul li div {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

#cart ul li div div {
    display: flex;
    align-items: center;
}


#cart .grande ul li div div p{
    flex-grow: 1;
}

#cart ul li img {
    padding: 1em;
    width: 100%;
}

#cart .grande ul {
    margin: 0;
    padding: 0;
}

#cart .grande ul li {
    display: flex;
    align-items: center;
    margin: 1em 0;
    font-size: 15px;
    background: rgb(207, 189, 189);
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    flex-direction: row;
}

#cart .grande ul li .btn img {
    width: 100%;
    padding: 0;
}

#cart .grande ul li .btn{
    border: none;
    background: transparent;
    cursor: pointer;
    width: 10%;
}

#cart .grande {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background:rgba(0, 0, 0, 0.1);
}

#cart .grande ul li select{
    text-align: center;
    margin-left: 3em;
}

#cart footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-bottom: 2px solid black;
}

#total_in_cart{
    margin-right: 30px;
}

#cart .payement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}



    /***************************************/
    /***************************************/
    /******************Home*****************/
    /***************************************/
    /***************************************/

    #home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 80%;
    }

    #home .discret{
        font-size: 10px;
        color: rgba(204, 192, 175, 0.233);
    }

    #home button,
    #home p{
        display: flex;
        z-index: 10;
        margin: 20px 10px;
    }
    
    section#home{
        height: 84%;;
      }

      #home p{
        font-size: 1.3em;
        width: 90%;
        padding: 0 auto;
    }

    #home p{
        font-size: 30px;
        width: 800px;
        text-align: center;
        color: white;
    }

    #home button {
        width: fit-content;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
        border: 2px solid white;
    }

    #home button a {
        padding: 15px;
        font-size: 1em;
        display: flex;
        text-align: center;
    }

    .slider {
        position: absolute;
        width: 100vw;
        overflow: hidden;
        height: 90%;
    }

    .slides{
        animation: glisse 15s infinite;
        display: flex;
    }
    .slide img {
        width: 2000px;
        height: auto;
    }

    @keyframes glisse{
        0% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-2000px);
        }
        43% {
            transform: translateX(-2000px);
        }
        66% {
            transform: translateX(-4000px);
        }
        76% {
            transform: translateX(-4000px);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    /****************************/
    /**********PANIER***********/
    
    
    article{
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        width: 90%;
        margin: 30px auto;
        height: 74%;
    }

    .panier{
        background-color: rgb(255, 255, 255);
        padding: 5px 5px;
        width: 33%;
        margin: 20px 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .panier .form-btn{
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
        font-size: 25px;
        width: fit-content;
        visibility: visible;
    }

    .form-example {
        margin: 50px 0;
    }

    .panier span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: bisque;
        font-size: 40px;
    }

    #panier-spe{
        padding: 15px 15px;
    }

    .panier-list {
        background-color: aqua;
        width: 100%;
        height: 60%;
        margin: 10px 0;
    }

    .panier .total-ttc{
        height: 30%;
        width: 100%;
    }

    .panier-prix{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    .panier .total-ttc .panier-desc{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    
    .panier img{
        width: 100px;
        height: 100px;
    }

    .buy button {
        border: 5px solid blue;
        margin: 10px 0;
    }
    

/* responsive for smaller screens________________________________________________________________________________*/
@media screen and (max-width: 1440px) {
  div#products div.watches div {
    flex-direction: column;
}

h1{
    font-size: 3.5em;
    margin: 5px 0 0 0;
}

h5{
    font-size: 1em;
}

.logo {
    height: 15px;
    margin: 5px 10px;
  }

#cart_logo{
    height: 15px;
    margin: 0 0 5px 12px;
}

#number_of_item_in_cart{
    margin: 0 0 15px 0;
    font-weight: bolder;
    color: transparent;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 0.7em;
}

body > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

input#searchBar {
    order : 1;
    margin: 0.5em 0;
}

#nav_logo #cart_logo {
    margin-bottom: 5px;
}

#cart ul li img {
    padding: 0.5em;
}

}

/* responsive for tablets and smartphones  _______________________________________________________*/
@media screen and (max-width: 778px)  {
      
    @keyframes glisse{
        0% {
            transform: translateX(-800px);
        }
        10% {
            transform: translateX(-800px);
        }
        33% {
            transform: translateX(-2650px);
        }
        43% {
            transform: translateX(-2650px);
        }
        66% {
            transform: translateX(-5000px);
        }
        76% {
            transform: translateX(-5000px);
        }
        100% {
            transform: translateX(-800px);
        }
    }

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 20;
        background-color: white;
    }

    #brandname{
        position: absolute;
        margin-left: 15px;
    }

    #hack{
        position: relative;
    }
    

    h1,h5 {
        font-family: 'Amatic SC', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    
    h1{
        font-size: 2.5em;
        margin: 2px 0 0 0;
    }

    h5{
        font-size: 0.8em;
    }

    

    h2,h3 {
        font-size: 1.2em;
        background-color: white;
        opacity: 70%;
        width: 92.5%;
    }

    div#cart {
        margin: 0;
        margin-bottom: 10%;
      }

      /********MEDIA PAGE TYPE********/
      div.mainDiv {
        flex-flow: column;
        height: fit-content;
        text-align: justify;
        width: 90%;
        margin: 0 auto;
      }
    
      div.mainDiv div {
        padding: 1em;
        margin: 0;
        width: 100%;
      }
    
      div.mainDiv div h3 {
        background: transparent;
        width: fit-content;
        text-align: center;
      }
    
      div.mainDiv #currentPhoto {
        width: 50%;
      }
    
      div.mainDiv .watchesPhotos {
        flex-flow: row;
        width: 20%;
      }
    
      div.mainDiv .watchesPhotos img {
        margin: 0 1em;
      }

      section#home{
        height: 84%; 
        width: 90%;
        margin: 0 auto;
      }

      #home p{
        font-size: 1.3em;
        width: 90%;
        padding: 0 auto;
    }

    #home img {
        opacity: 0;
        height: 600px;
    }
    
    /********MEDIA CARROUSEL********/
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        width: 100%;
        margin: 0;
    }

    main div h2 {
        max-width: 90vw;;
        margin: 1em auto;
    }

    div#products {
        flex-flow: row;
        width: 100%;
        max-width: 100vw;
        margin: 1em 0;
        overflow: scroll;
        justify-content: flex-start;
    }

    div#products div.watches {
        width: fit-content;
        min-width: 250px;
    }
    
    /********MEDIA ICONE********/

    #nav_logo {
        position: relative;
        margin: 0;
        margin-right: 1em;
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        width: 100px;
    }

    #nav_logo * {
        padding: 0;
        margin: 0 3px;
    }

    #nav_logo #cart_logo {
        margin-bottom: 5px;
    }

    #nav_logo span {
        position: absolute;
        padding: 5px 5px;
        top: -10px;
        right: -10px;
        width: 5px;
    }

    input#searchBar {
        order : 5;
        margin: 0.5em 0;
    }

    input#searchBar.active {
        width: 100px;
    }
   
}